.contenedor {
    width: 100%;
    background-color: rgb(225, 225, 225);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 20px;
}
.contenedor > h2 {
    width: 100%;
    text-align: center;
    padding: 20px 10px;
}

.tablero {
    width: 98%;
    background-image: url('/assets/images/ahorcado/bg/textura-papel-cuadriculado.jpg');
    background-position: top;
    background-size: 35%;
    border-radius: 10px;
    padding: 20px 0 0;
}

.dibujo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 20px;
}
.dibujo img {
    width: 150px;
}

.palabra {
    text-align: center;
    padding-top: 5px;
    display: none;
}
.palabra span {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
    letter-spacing: 3px;
}

.info-tablero {
    display: none;
    margin: 15px 0 5px;
}
.contenido-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}
.info-tablero div {
    margin: 0 15px;
}
.categoria p, .vidas p {
    margin-top: 20px;
}
.categoria span, .vidas span {
    color: rgb(0, 150, 255);
    font-size: 1.05rem;
    font-weight: 500;
}


#letras-tablero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    position: relative;
    z-index: 500;
    border-radius: 10px;
}

.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px;
}
.menu button {
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
    background-color: rgba(0, 195, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-weight: 500;
}
.comenzar {
    margin-left: 5px;
}
.reiniciar {
    margin-right: 5px;
}


/* Botones (Letras) */
.botones {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.boton {
    font-size: 1rem;
    font-weight: 500;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    background-color: rgb(235, 235, 235);
}

/* RESULTADO FINAL (GANAR O PERDER) */
.resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(230, 230, 230);
    border: 1px solid black;
    border-radius: 10px;
    width: 96%;
    height: 102%;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.ganaste {
    position: relative;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.perdiste {
    position: relative;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.ganaste p, .perdiste p {
    font-size: 1.5rem;
    font-weight: 500;
}
.palabra-ganar span, .palabra-perder span {
    color: rgb(0, 150, 255);
}
.cerrar {
    position: absolute;
    z-index: 1010;
    top: 0;
    right: 0;
    border: none;
    background: none;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px;
}


footer {
    background-color: rgb(225, 225, 225);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


/* MEDIA QUERIES */
@media screen and (max-width: 270px) {
    .menu {
        flex-direction: column;
    }
    .menu button {
        margin: 0 0 10px;
        width: 100%;
    }
}
@media screen and (min-width: 725px) {
    .contenedor {
        width: 100%;
        height: calc(100vh - 100px);
    }
    .tablero {
        height: 100%;
        width: 94%;
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #imagen-tablero {
        width: 40%;
        height: auto;
    }
    .dibujo img {
        width: 175px;
    }
    .palabra {
        width: 90%;
        text-align: center;
        padding: 10px 0;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
    .palabra span {
        font-size: 2rem;
        letter-spacing: 5px;
    }
    #letras-tablero {
        width: 525px;
        height: 400px;
        border-radius: 10px;
    }
    .info-tablero {
        width: 100%;
        text-align: left;
    }
    .contenido-info {
        font-size: 1.25rem;
    }
    .contenido-info span {
        font-size: 1.25rem;
        font-weight: bold;
    }
    
}

@media screen and (min-width: 925px) {
    .dibujo {
        padding-right: 5%;
    }
    .dibujo img {
        width: 225px;
    }
    .palabra {
        padding-right: 5%;
    }
    .menu button {
        font-size: 1.2rem;
        margin: 0 20px 10px;
    }
    .boton {
        font-size: 1.2rem;
        width: 45px;
        height: 45px;
    }
}

@media screen and (min-width: 1125px) {
    .dibujo img {
        width: 325px;
    }
}